# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/CODEOWNERS                               @carlescufi
/LICENSE                                  @carlescufi
/Jenkinsfile                              @thst-nordic
/README.rst                               @carlescufi
/.checkpatch.conf                         @carlescufi
/.gitattributes                           @thst-nordic
/.gitlint                                 @thst-nordic

# All cmake related files
/CMakeLists.txt                           @tejlmand

# All Kconfig related files
Kconfig*                                  @tejlmand

# All documentation related files
*.rst                                     @b-gent
doc/*                                     @b-gent

# All doc image subfolders
/mpsl/doc/pic/                            @Avalei
/nrf_802154/doc/images/                   @Avalei
/nrf_modem/doc/images/                    @Avalei
/nrf_rpc/doc/img/                         @Avalei
/softdevice_controller/doc/pic/           @Avalei
/zboss/doc/images/                        @Avalei

# All subfolders
/.github/                                 @thst-nordic
/.github/test-spec.yml                    @nrfconnect/ncs-test-leads
/softdevice_controller/                   @nrfconnect/ncs-dragoon
/nrf_modem/                               @rlubos @lemrey
/crypto/                                  @frkv @tejlmand
/gzll/                                    @leewkb4567
/mpsl/                                    @nrfconnect/ncs-dragoon
/nfc/                                     @anangl @grochu @KAGA164
/nrf_802154/                              @ankuns @piotrkoziar
/nrf_security/                            @frkv @tejlmand
/openthread/                              @lmaciejonczyk @edmont @canisLupus1313
/zboss/                                   @milewr
/zephyr/                                  @carlescufi
/nrf_rpc/                                 @doki-nordic @KAGA164
/nrf_dm/                                  @Tschet1 @eriksandgren
/lc3/                                     @koffes @alexsven
/nrf_fuel_gauge/                          @nordic-auko @aasinclair
/nrf_wifi/                                @krish2718 @sachinthegreen @rado17 @rlubos
/nrf_wifi/fw_bins/                        @udaynordic @rajb9 @srkanordic
/nrf_wifi/fw_if/umac_if/inc/fw/           @udaynordic @rajb9 @srkanordic
/nrf_wifi/hw_if/hal/inc/fw/               @udaynordic @rajb9 @srkanordic
