#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Nordic nrfxlib"

rsource "bsdlib/Kconfig"
rsource "nfc/Kconfig"
rsource "ble_controller/Kconfig"

endmenu
