#
# Copyright (c) 2019 - 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "Nordic nrfxlib"

rsource "nrf_modem/Kconfig"
rsource "nfc/Kconfig"
rsource "mpsl/Kconfig"
rsource "crypto/Kconfig"
rsource "nrf_security/Kconfig"
rsource "softdevice_controller/Kconfig"
rsource "nrf_rpc/Kconfig"
rsource "zboss/Kconfig"
rsource "openthread/Kconfig"
rsource "nrf_802154_sl/Kconfig"

endmenu
