#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config MBEDTLS_PSA_ACCEL_KEY_TYPE_ECC_KEY_PAIR
	bool
	depends on PSA_WANT_KEY_TYPE_ECC_KEY_PAIR && \
		   (PSA_CRYPTO_DRIVER_CC3XX || PSA_CRYPTO_DRIVER_OBERON)

config MBEDTLS_PSA_ACCEL_KEY_TYPE_ECC_PUBLIC_KEY
	bool
	depends on PSA_WANT_KEY_TYPE_ECC_PUBLIC_KEY && \
		   (PSA_CRYPTO_DRIVER_CC3XX || PSA_CRYPTO_DRIVER_OBERON)

config MBEDTLS_PSA_ACCEL_KEY_TYPE_RSA_KEY_PAIR
	bool
	depends on PSA_WANT_KEY_TYPE_RSA_KEY_PAIR && \
		   (PSA_CRYPTO_DRIVER_CC3XX)

config MBEDTLS_PSA_ACCEL_KEY_TYPE_RSA_PUBLIC_KEY
	bool
	depends on PSA_WANT_KEY_TYPE_RSA_PUBLIC_KEY && \
		   (PSA_CRYPTO_DRIVER_CC3XX)

config MBEDTLS_PSA_ACCEL_KEY_TYPE_AES
	bool
	default y
	depends on PSA_WANT_KEY_TYPE_AES && \
		   (PSA_CRYPTO_DRIVER_CC3XX || PSA_CRYPTO_DRIVER_OBERON)

config MBEDTLS_PSA_ACCEL_KEY_TYPE_CHACHA20
	bool
	default y
	depends on PSA_WANT_KEY_TYPE_CHACHA20 && \
		   (PSA_CRYPTO_DRIVER_CC3XX || PSA_CRYPTO_DRIVER_OBERON)

menuconfig PSA_CRYPTO_DRIVER_CC3XX
    bool
    prompt "PSA CryptoCell Driver" if !PSA_PROMPTLESS
    depends on CRYPTOCELL_USABLE
    default n
    select NRF_CC3XX_PLATFORM if !BUILD_WITH_TFM
	help
	  Enable PSA Driver for CryptoCell

if PSA_CRYPTO_DRIVER_CC3XX

rsource "nrf_cc3xx/Kconfig"

endif # PSA_CRYPTO_DRIVER_CC3XX

menuconfig PSA_CRYPTO_DRIVER_OBERON
    bool
    prompt "PSA Oberon Driver" if !PSA_PROMPTLESS
    default y #if !CRYPTOCELL_USABLE
    select NRF_OBERON
	help
	  Enable PSA Driver for nrf_oberon

if PSA_CRYPTO_DRIVER_OBERON

rsource "nrf_oberon/Kconfig"

endif # PSA_CRYPTO_DRIVER_OBERON

menuconfig PSA_CRYPTO_DRIVER_BUILTIN
	bool
	prompt "PSA Builtin" if !PSA_PROMPTLESS
	# Fix for NCSDK-13536: Enable builtin if nrf_oberon only due to lacking support
	default y if PSA_CRYPTO_DRIVER_OBERON && !PSA_CRYPTO_DRIVER_CC3XX && \
		     (PSA_WANT_ALG_CBC_PKCS7 || PSA_WANT_ALG_CMAC || \
		      PSA_WANT_ALG_HMAC || PSA_WANT_ALG_HKDF)
	# nrf_oberon lacks RSA support
	default y if PSA_CRYPTO_DRIVER_OBERON && !PSA_CRYPTO_DRIVER_CC3XX && \
		     (PSA_WANT_ALG_RSA_OAEP || PSA_WANT_ALG_RSA_PKCS1V15_CRYPT || \
		      PSA_WANT_ALG_RSA_PKCS1V15_SIGN || PSA_WANT_ALG_RSA_PSS)
	help
	  Enables PSA builtin support

if PSA_CRYPTO_DRIVER_BUILTIN

rsource "builtin/Kconfig"

endif # PSA_CRYPTO_DRIVER_BUILTIN
