#
# Copyright (c) 2018-2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NFC_T2T_NRFXLIB
	bool "NFC Type 2 Tag library"

config NFC_T4T_NRFXLIB
	bool "NFC Type 4 Tag library"
