#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

config NFC_T2T_NRFXLIB
	bool "Enable NFC Type 2 Tag library"

config NFC_T4T_NRFXLIB
	bool "Enable NFC Type 4 Tag library"
