#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

if NET_L2_OPENTHREAD

menu "OpenThread"

# OPENTHREAD_IMPLEMENTATION is declared in Zephyr and also here for a second time,
# now with additional properties. Note that the dependencies of the
# original config must be duplicated to not affect it's visibility.

choice OPENTHREAD_IMPLEMENTATION
	prompt "OpenThread origin selection"
	default OPENTHREAD_SOURCES
	help
	  Select OpenThread to use for build. Custom OpenThread implementations
	  can be added to the application Kconfig.

config OPENTHREAD_LIBRARY
	bool "OpenThread from library"
	select OPENTHREAD_NORDIC_LIBRARY
	help
	  Build OpenThread from a prebuilt library instead of building from sources.
	  CONFIG_OPENTHREAD_THREAD_VERSION determines which version of the library is to be used.

config OPENTHREAD_LIBRARY_1_1
	bool "(Legacy) OpenThread 1.1 from library"
	depends on OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_NORDIC_LIBRARY
	help
	  Legacy option to use prebuilt OpenThread 1.1 library.

endchoice

# OpenThread configuration features sets from Nordic Semiconductor

config OPENTHREAD_NORDIC_LIBRARY
	bool "Nordic library feature sets"
	depends on !OPENTHREAD_SOURCES

choice OPENTHREAD_NORDIC_LIBRARY_CONFIGURATION
	prompt "Feature set"
	default OPENTHREAD_USER_CUSTOM_LIBRARY
	help
	  Nordic Semiconductor features set selection for OpenThread stack.

config OPENTHREAD_NORDIC_LIBRARY_MASTER
	bool "Nordic OpenThread master configuration"
	select OPENTHREAD_COAP
	select OPENTHREAD_COAPS
	select OPENTHREAD_COMMISSIONER
	select OPENTHREAD_DIAG
	select OPENTHREAD_DNS_CLIENT
	select OPENTHREAD_DHCP6_SERVER
	select OPENTHREAD_DHCP6_CLIENT
	select OPENTHREAD_ECDSA
	select OPENTHREAD_ENABLE_SERVICE
	select OPENTHREAD_EXTERNAL_HEAP
	select OPENTHREAD_IP6_FRAGM
	select OPENTHREAD_JAM_DETECTION
	select OPENTHREAD_JOINER
	select OPENTHREAD_MAC_FILTER
	select OPENTHREAD_NETDIAG_CLIENT
	select OPENTHREAD_RAW
	select OPENTHREAD_SLAAC
	select OPENTHREAD_SNTP_CLIENT
	select OPENTHREAD_SRP_CLIENT
	select OPENTHREAD_UDP_FORWARD
	select OPENTHREAD_DUA if !OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_MLR if !OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_LINK_METRICS_INITIATOR if !OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_LINK_METRICS_SUBJECT if !OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_CSL_RECEIVER if !OPENTHREAD_THREAD_VERSION_1_1
	help
	  Nordic Semiconductor complete set of OpenThread features.

config OPENTHREAD_NORDIC_LIBRARY_FTD
	bool "Nordic Optimized FTD configuration"
	select OPENTHREAD_COAP
	select OPENTHREAD_DNS_CLIENT
	select OPENTHREAD_ECDSA
	select OPENTHREAD_EXTERNAL_HEAP
	select OPENTHREAD_IP6_FRAGM
	select OPENTHREAD_NETDIAG_CLIENT
	select OPENTHREAD_SLAAC
	select OPENTHREAD_SRP_CLIENT
	select OPENTHREAD_DUA if !OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_MLR if !OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_LINK_METRICS_SUBJECT if !OPENTHREAD_THREAD_VERSION_1_1
	help
	  Nordic Semiconductor optimized OpenThread features for FTD.

config OPENTHREAD_NORDIC_LIBRARY_MTD
	bool "Nordic Optimized MTD configuration"
	select OPENTHREAD_COAP
	select OPENTHREAD_DNS_CLIENT
	select OPENTHREAD_ECDSA
	select OPENTHREAD_EXTERNAL_HEAP
	select OPENTHREAD_IP6_FRAGM
	select OPENTHREAD_NETDIAG_CLIENT
	select OPENTHREAD_SLAAC
	select OPENTHREAD_SRP_CLIENT
	select OPENTHREAD_DUA if !OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_MLR if !OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_CSL_RECEIVER if !OPENTHREAD_THREAD_VERSION_1_1
	help
	  Nordic Semiconductor optimized OpenThread features for MTD.

config OPENTHREAD_NORDIC_LIBRARY_RCP
	bool "Nordic OpenThread RCP configuration"
	select OPENTHREAD_LINK_METRICS_INITIATOR if !OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_LINK_METRICS_SUBJECT if !OPENTHREAD_THREAD_VERSION_1_1
	select OPENTHREAD_CSL_RECEIVER if !OPENTHREAD_THREAD_VERSION_1_1
	help
	   Nordic Semiconductor optimized OpenThread features for RCP.

config OPENTHREAD_USER_CUSTOM_LIBRARY
	bool "User custom configuration"
	help
	  No extra features selected.

endchoice

config OPENTHREAD_BUILD_OUTPUT_STRIPPED
	bool "Strip OpenThread libraries"
	help
	  Build a stripped library versions of OpenThread in the build directory.

endmenu # "OpenThread"

endif
