#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: BSD-5-Clause-Nordic
#

config NRFXLIB_BLE
	bool
	prompt "Enable BLE"
	default n
	help
	  Enable BLE functionality

if NRFXLIB_BLE
rsource "ble/Kconfig"
endif # NRFXLIB_BLE

config NRFXLIB_NFC
	bool
	prompt "Enable NFC"
	default n
	help
	  Enable NFC functionality

if NRFXLIB_NFC
rsource "nfc/Kconfig"
endif # NRFXLIB_BLE
