#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig MBEDTLS_X509_LIBRARY
	bool
	prompt "Create mbed TLS x509 library"
	select MBEDTLS_PK_C
	default y if MBEDTLS_PSA_CRYPTO_C && (MBEDTLS_ECDSA_C || MBEDTLS_ECDH_C)
	help
	  Create the mbed x509 library for handling of certificates.

if MBEDTLS_X509_LIBRARY

config MBEDTLS_X509_USE_C
	bool "X.509 core for using certificates."
	default y
	help
	  Enable X.509 core for using certificates.

config MBEDTLS_X509_CHECK_KEY_USAGE
	bool "X.509 - check key usage"
	default y
	help
	  Enable verification of the key usage extension (CA and leaf certificates).

config MBEDTLS_X509_CHECK_EXTENDED_KEY_USAGE
	bool "X.509 - check extended key usage"
	default y
	help
	  Enable verification of the extendedKeyUsage extension (leaf certificates).

config MBEDTLS_X509_CRL_PARSE_C
	bool "X.509 - CRL parsing"
	default y
	help
	  Enable X.509 CRL parsing.

config MBEDTLS_X509_CSR_PARSE_C
	bool "X.509 - CSR parsing"
	default y
	help
	  Enable X.509 Certificate Signing Requests (CSR) parsing.

config MBEDTLS_X509_CRT_PARSE_C
	bool "X.509 - CTR parsing"
	default y
	help
	  Enable X.509 CTR parsing

config MBEDTLS_X509_CREATE_C
	bool "X.509 - creating certificates core"
	help
	  Enable X.509 core for creating certificates.

config MBEDTLS_X509_CSR_WRITE_C
	bool "X.509 - CSR writing"
	help
	  Enable creating X.509 Certificate Signing Requests (CSR).

endif 

menuconfig MBEDTLS_TLS_LIBRARY
	bool
	prompt "Create mbed TLS transport layer security library"
	select MBEDTLS_X509_LIBRARY
	select PSA_CRYPTO_DRIVER_OBERON if MBEDTLS_PSA_CRYPTO_C
	default y if MBEDTLS_PSA_CRYPTO_C && (MBEDTLS_ECDSA_C || MBEDTLS_ECDH_C)
	help
	  Create the mbed SSL/TLS library in addition to the mbed crypto
	  library.

if MBEDTLS_TLS_LIBRARY

config MBEDTLS_SSL_TLS_C
	bool
	default y
	help
	  Corresponds to MBEDTLS_SSL_TLS_C in mbed TLS config file

config MBEDTLS_SSL_PROTO_TLS1_2
	bool
	default y
	help
	  Enable the TLS 1.2 protocol
	  Corresponds to MBEDTLS_SSL_PROTO_TLS1_2 in mbed TLS config file

config MBEDTLS_SSL_CLI_C
	bool "Enable the SSL/TLS client code"
	default y
	help
	  This setting enables SSL/TLS client functionality.
	  Corresponds to MBEDTLS_SSL_CLI_C in mbed TLS config file

config MBEDTLS_SSL_SRV_C
	bool "Enable the SSL/TLS server code"
	default y
	help
	  This setting enables SSL/TLS server functionality.
	  Corresponds to MBEDTLS_SSL_SRV_C in mbed TLS config file.

# config MBEDTLS_KEY_EXCHANGE_SOME_PSK_ENABLED
# 	bool
# 	default y

endif # MBEDTLS_TLS_LIBRARY
