#
# Copyright (c) 2019-2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "nrf_security module"

config NORDIC_SECURITY_PROMPTLESS
	bool
	default y if BUILD_WITH_TFM
	help
	  Internal setting to disable the Nordic security backend
	  This setting is Kconfig internal that must be used by subsystems that
	  provides nRF Security selection groups.


config NORDIC_SECURITY_BACKEND
	bool
	prompt "Use nrf_security module" if !NORDIC_SECURITY_PROMPTLESS
	depends on SOC_FAMILY_NRF
	select NRF_SECURITY
	select MBEDTLS_LEGACY_CRYPTO_C
	select OBERON_BACKEND
	help
	  Using this configuration enables legacy support for mbed TLS APIs
	  This configuration is not to be used for PSA API support.
	  Note that this will enable nrf_oberon by default. Multiple backends is
	  not supported.

config NRF_SECURITY
	bool
	prompt "Use nrf_security module" if !PSA_PROMPTLESS
	depends on SOC_FAMILY_NRF
	default y
	select ENTROPY_GENERATOR
	help
	  Set this configuration to enable nrf_security module. This provides
	  Arm PSA cryptography APIs with RNG support (optionally).

if NRF_SECURITY

config MBEDTLS_CFG_FILE
	string "mbed TLS configuration file"
	default "nrf-config.h"
	help
	  Name of the config file for mbed TLS. This configuration file is used
	  in configurations with or without PSA APIs supported.

config MBEDTLS_USER_CONFIG_FILE
	string "mbed TLS user configuration file"
	default "nrf-config-user.h"
	help
	  Name of the file that will contain additional configurations for mbed TLS.
	  This file may be generated and will contain PSA configurations if PSA APIs
	  are generated in the system. This file is empty if legacy support is used.

config GENERATE_MBEDTLS_CFG_FILE
	bool
	prompt "Generate mbed TLS config files"
	default y
	help
	  nrf_security will generate mbed TLS configuration file(s)
	  based on the selection of configuration options in Kconfig.
	  However, if the generated configuration file needs custom
	  adjustments, this setting can be used to disable generating the
	  mbed TLS configuration file. Only disable this setting if you know
	  what you are doing.

config MBEDTLS_ENABLE_HEAP
	bool "Enable global heap for mbed TLS"
	default y if BUILD_WITH_TFM
	help
	  This option enables the mbedtls to use the heap. This setting must
	  be global so that various applications and libraries in Zephyr do not
	  try to do this themselves as there can be only one heap defined
	  in mbedtls. If this is enabled, then the Zephyr will, during the device
	  startup, initialize the heap automatically.

config MBEDTLS_HEAP_SIZE
	int "Heap size for mbed TLS"
	default 15360 if OPENTHREAD_NRF_SECURITY
	default 512
	depends on MBEDTLS_ENABLE_HEAP
	help
	  Heap size for mbed TLS in bytes.
	  For streaming communication with arbitrary (HTTPS) servers on the
	  Internet, 32KB + overheads (up to another 20KB) may be needed.
	  Ensure to adjust the heap size according to the need of the
	  application.

# Include TLS/DTLS and x509 configurations
rsource "Kconfig.tls"

# Include PSA Crypto configurations
rsource "Kconfig.psa"

# Include Legacy mbed TLS configurations
rsource "Kconfig.legacy"

endif # NRF_SECURITY

endmenu
