#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

if ZIGBEE

menu "ZBOSS library configuration"

config ZBOSS_SOURCES_AVAILABLE
	bool

# Select between the production and development version of libraries
choice ZIGBEE_LIBRARY_TYPE
	bool "ZBOSS library version"
	default ZIGBEE_LIBRARY_PRODUCTION

config ZIGBEE_LIBRARY_PRODUCTION
	bool "Use production libraries"
	help
	  If selected, the application will be linked with the latest, stable
	  version of ZBOSS libraries.
	  Please check NCS documentation in order to get the certification status
	  of those libraries.

config ZIGBEE_LIBRARY_DEVELOPMENT
	bool "Use development libraries [DEPRECATED]"
	select DEPRECATED
	help
	  If selected, the application will be linked with newest version of
	  ZBOSS libraries.
	  Those libraries are not officially certified, but may be used for
	  an early development of applications, that require experimental features.

endchoice # ZIGBEE_LIBRARY_TYPE

# Add a menu option to switch between platform designs.
choice
	prompt "Zigbee platform design"
	default ZIGBEE_LIBRARY_SOC

config ZIGBEE_LIBRARY_SOC
	bool "System-on-Chip"
	help
	  The Zigbee stack, as well as the application is implemented on the SoC

config ZIGBEE_LIBRARY_NCP_DEV
	bool "Network co-processor (connectivity device)"
	help
	  The Zigbee stack is implemented on the connectivity SoC,
	  but the application is implemented on the host MCU

endchoice

# Add a menu option to switch between subsets of Zigbee Green Power features.
choice
	prompt "Zigbee Green Power feature set configuration"
	default ZIGBEE_GP_PB

config ZIGBEE_GP_NONE
	bool "Disable Zigbee Green Power functionality"
	help
	  This option is valid only when building ZBOSS without application layer

config ZIGBEE_GP_PB
	bool "Enable Zigbee Green Power Proxy Basic functionality"

config ZIGBEE_GP_CB
	bool "Enable Zigbee Green Power Combo Basic functionality [EXPERIMENTAL]"
	select EXPERIMENTAL
	depends on !ZIGBEE_ROLE_END_DEVICE && ZBOSS_SOURCES_AVAILABLE

endchoice

config ZIGBEE_ENABLE_TRACES
	bool "Use ZBOSS libraries, dedicated for debugging issues [EXPERIMENTAL]"
	select EXPERIMENTAL
	help
	  Those libraries do not include additional debug symbols, but they include
	  extended set of ZBOSS binary traces, that allow Nordic's support team to debug issues.

config APP_LINK_WITH_ZBOSS
	bool
	help
	  Link application with ZBOSS library

endmenu

endif #ZIGBEE
