#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

# BT_LL_CHOICE is declared in Zephyr and also here for a second time,
# now with additional properties. Note that the dependencies of the
# original config must be duplicated to not affect it's visibility.

if BT && BT_HCI

config BT_LL_NRFXLIB_VS_INCLUDE
	bool "Include nRF BLE Controller vendor specific HCI interface"
	help
	  Include nRF BLE Controller vendor specific HCI interface.

config BT_LL_NRFXLIB_DEFAULT
	bool "Select BT_LL_NRFXLIB as default BT_LL_CHOICE"
	help
	  Helper variable used to change the default link layer if
	  BT_CTLR is supported for the platform.

if BT_CTLR

choice BT_LL_CHOICE
	prompt "Bluetooth Link Layer Selection"
	default BT_LL_NRFXLIB if BT_LL_NRFXLIB_DEFAULT

config BT_LL_NRFXLIB
	bool "Nordic proprietary BLE Link Layer"
	select MPSL
	select ZERO_LATENCY_IRQS
	select BT_CTLR_LE_ENC_SUPPORT
	select BT_CTLR_EXT_REJ_IND_SUPPORT
	select BT_CTLR_SLAVE_FEAT_REQ_SUPPORT
	select BT_CTLR_PRIVACY_SUPPORT
	select BT_CTLR_EXT_SCAN_FP_SUPPORT
	select BT_CTLR_PHY_UPDATE_SUPPORT
	select BT_CTLR_CHAN_SEL_2_SUPPORT
	select BT_HAS_HCI_VS
	# This controller only supports nRF52 and nRF53, it does not support nRF51
	# or nRF91 (nRF91 doesn't even have the physical HW needed for BLE).
	depends on (SOC_SERIES_NRF52X || SOC_SERIES_NRF53X)
	help
	  Use Nordic BLE Link Layer implementation.

endchoice


if BT_LL_NRFXLIB

comment "Common BLE Controller module configuration"

choice BLE_CONTROLLER_VARIANT
	prompt "BLE Controller variant"
	default BLE_CONTROLLER_S112 if (SOC_NRF52810 || SOC_NRF52811)
	default BLE_CONTROLLER_S132 if SOC_NRF52832
	default BLE_CONTROLLER_S140 if SOC_NRF52840
	help
	  Select a BLE Controller variant.

config BLE_CONTROLLER_S112
	depends on (SOC_NRF52810 || SOC_NRF52811 || SOC_NRF52832)
	bool "s112"

config BLE_CONTROLLER_S132
	depends on (SOC_NRF52810 || SOC_NRF52832)
	bool "s132"
	select BT_CTLR_DATA_LEN_UPDATE_SUPPORT
	select BT_CTLR_ADV_EXT_SUPPORT

config BLE_CONTROLLER_S140
	depends on (SOC_NRF52811 || SOC_NRF52840 || SOC_NRF52833 || SOC_SERIES_NRF53X)
	select BT_CTLR_DATA_LEN_UPDATE_SUPPORT
	select BT_CTLR_ADV_EXT_SUPPORT
	bool "s140"

endchoice

endif # BT_LL_NRFXLIB
endif # BT_CTLR
endif # BT && BT_HCI
