#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

choice NRF_802154_SOURCE
	prompt "Source of the IEEE 802.15.4 radio driver"
	default NRF_802154_SOURCE_NRFXLIB

config NRF_802154_SOURCE_NRFXLIB
	bool "sdk-nrfxlib"

endchoice # NRF_802154_SOURCE

if NRF_802154_RADIO_DRIVER

config NRF_802154_ENCRYPTION
	bool "nRF 802.15.4 AES-CCM* authentication & encryption"
	depends on !CRYPTO_NRF_ECB

choice NRF_802154_SL_TYPE
	prompt "nRF 802.15.4 Service Layer selection"
	default NRF_802154_SL
	help
		Select implementation of nRF 802.15.4 Service Layer.

config NRF_802154_SL
	bool "Nordic proprietary nRF 802.15.4 Service Layer."
	select MPSL
	select ZERO_LATENCY_IRQS if !SOC_SERIES_BSIM_NRFXX
	select DYNAMIC_INTERRUPTS
	select SENSOR if NRF_802154_TEMPERATURE_UPDATE
	select TEMP_NRF5_MPSL if NRF_802154_TEMPERATURE_UPDATE
	select NRFX_PPI if SOC_COMPATIBLE_NRF52X
	select NRFX_DPPI if SOC_COMPATIBLE_NRF53X || SOC_SERIES_NRF53X
	depends on !NRF_802154_SOURCE_HAL_NORDIC
	help
		Use of Nordic Semiconductor proprietary implementation of nRF 802.15.4 Service Layer.
		This implementation enables advanced features of nRF 802.15.4 Radio Driver.

endchoice # NRF_802154_SL_TYPE

if NRF_802154_SL

config NRF_802154_SL_LPTIMER_RTC
	def_bool y
	depends on NRF_RTC_TIMER

config NRF_802154_SL_HPTIMER
	def_bool y
	depends on SOC_SERIES_NRF52X || SOC_SERIES_NRF53X

endif # NRF_802154_SL

endif # NRF_802154_RADIO_DRIVER

orsource "../internal/Kconfig.nrfxlib"
