menu "Crypto libraries for nRF5x SOCs."

config NRFXLIB_CRYPTO
	bool

config NRF_OBERON
	bool "nrf_oberon SW crypto library for nRF5x."
	select NRFXLIB_CRYPTO
	help
	  To use, link with nrfxlib_crypto in CMake.

config NRF_CC310_BL
	bool "nrf_cc310_bl HW crypto library for nRF devices with CryptoCell CC310."
	select NRFXLIB_CRYPTO
	select FPU # The cc310_bl lib uses floating point registers.
	depends on !NORDIC_SECURITY_BACKEND
	help
	  To use, link with nrfxlib_crypto in CMake.

if NRF_CC310_BL
	config HW_CC310_INTERRUPT
	bool #"Use interrupt version of nrf cc310 bl library"
	default n # Only the no-interrupts version currently verified to work with Zephyr.
endif

menuconfig NRF_CC310_PLATFORM
	bool "nrf_cc310_platform HW crypto library for nRF devices with CryptoCell CC310."
	select NRFXLIB_CRYPTO
	help
		To use, link with nrfxlib_crypto in CMake.

if NRF_CC310_PLATFORM

config HW_CC310_INTERRUPT
	bool "Use interrupt version of nrf cc310 platform library" if !(CC310_BACKEND || NRF_CC310_BL)

endif

endmenu
