menu "Crypto libraries for nRF5x SOCs."

config NRFXLIB_CRYPTO
	bool

config HAS_HW_NRF_CC3XX
	def_bool HAS_HW_NRF_CC310 || HAS_HW_NRF_CC312

config NRF_OBERON
	bool "nrf_oberon SW crypto library for nRF5x."
	select NRFXLIB_CRYPTO if !BUILD_WITH_TFM
	help
	  This configuration is only available for direct use of nrf_oberon
	  To use, link with nrfxlib_crypto in CMake.

config NRF_CC310_BL
	bool "nrf_cc310_bl HW crypto library for nRF devices with CryptoCell CC310."
	select NRFXLIB_CRYPTO
	select FPU # The cc310_bl lib uses floating point registers.
	depends on !NORDIC_SECURITY_BACKEND
	help
	  This configuration is only available for direct use of nrf_cc3xx_bl
	  To use, link with nrfxlib_crypto in CMake.

menuconfig NRF_CC3XX_PLATFORM
	bool "nrf_cc3xx_platform HW crypto library for nRF devices with CryptoCell CC3xx."
	depends on HAS_HW_NRF_CC3XX && !BUILD_WITH_TFM
	select NRFXLIB_CRYPTO if !BUILD_WITH_TFM
	help
	  This configuration is only available for direct use of nrf_cc3xx_platform
	  To use, link with nrfxlib_crypto in CMake.

if NRF_CC3XX_PLATFORM

choice CC3XX_LOCK_VARIANT
	prompt "CC3XX lock variant"
	default CC3XX_MUTEX_LOCK

config CC3XX_MUTEX_LOCK
	bool "Use mutex variables for mutually exclusive access to CC3XX resources"
	help
	  Enables exclusive access to the ARM CryptoCell hardware using an RTOS
	  mutex that has priority inheritance. The mutex lock is safe across threads
	  and/or interrupts with different priority. Using an RTOS mutex comes
	  at a cost of lower performance.

config CC3XX_ATOMIC_LOCK
	bool "Use atomic variables for mutually exclusive access to CC3XX resources"
	help
	  Using atomic operations is the fastest way to ensure mutually exclusive
	  access to the ARM CryptoCell hardware.

	  Warning: If this configuration is set, every execution requiring use of
	  the ARM CryptoCell hardware must happen in the same priority. Calling into
	  mbed TLS APIs from a higher priority while an ongoing operation will lead
	  to undefined behavior. It is highy recommended to to do all cryptographic
	  operations in one single thread if this configuration is set.

config CC3XX_HW_MUTEX_LOCK
	bool "Use hardware mutex for mutually exclusive access to CC3XX resources"
	depends on SOC_NRF5340_CPUAPP
	help
	  A mutual exclusive peripheral is the fastest way to ensure mutually
	  exclusive access to the ARM CryptoCell hardware on platform which support
	  it. The MUTEX peripheral is nRF53 platform specific solution.

	  Warning: If this configuration is set, every execution requiring use of
	  the ARM CryptoCell hardware must happen in the same priority. Calling into
	  mbed TLS APIs from a higher priority while an ongoing operation will lead
	  to undefined behavior. It is highy recommended to to do all cryptographic
	  operations in one single thread if this configuration is set.

endchoice

endif

endmenu
