#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menu "nrf_modem (Modem library)"

# Selected by NRF_MODEM_LIB in sdk-nrf
config NRF_MODEM
	bool
	select NRFX_IPC if (SOC_SERIES_NRF91X || ZTEST)
	select REQUIRES_FULL_LIBC

choice NRF_MODEM_BUILD_STRATEGY
	prompt "Build strategy"
	depends on NRF_MODEM
	default NRF_MODEM_LINK_BINARY_CELLULAR

config NRF_MODEM_LINK_BINARY_CELLULAR
	bool "Link cellular binary"

config NRF_MODEM_LINK_BINARY_DECT_PHY
	bool "Link DECT PHY binary"
	select EXPERIMENTAL

endchoice

config NRF_MODEM_LOG
	bool "Link binary with logs"
	depends on NRF_MODEM_LINK_BINARY_CELLULAR || NRF_MODEM_LINK_BINARY_DECT_PHY
	help
	  Links the application with the library version capable of emitting logs.
	  This increases the final size of the application.

endmenu

config NRF_MODEM_SHMEM_CTRL_SIZE
	hex
	default 0x728 if NRF_MODEM_LINK_BINARY_DECT_PHY
	default 0x4e8
